@use "./styles/scrollBar.scss";
@use "./styles/fonts.scss";

@mixin vazir($w: 200) {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: $w;
  font-style: normal;
}

html {
  font-size: 30px;
}

body {
  direction: rtl;
  @include vazir(300);
}

.ltr {
  direction: ltr;
}
